[submodule "home/.local/share/nvim/site/pack/git-plugins/start/ale"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/nerdtree"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/ctrlp"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/vipsql"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/vipsql
	url = https://github.com/martingms/vipsql
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/pgsql"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/pgsql
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/vim-hcl"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
[submodule "home/.local/share/nvim/site/pack/coc/start/coc"]
	path = home/.local/share/nvim/site/pack/coc/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "home/.local/share/nvim/site/pack/git-plugins/nord"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/nord
	url = https://github.com/arcticicestudio/nord-vim.git
	branch = main
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/gitgutter"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "home/.local/share/nvim/site/pack/git-plugins/start/pytest"]
	path = home/.local/share/nvim/site/pack/git-plugins/start/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
