[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Sigurd Ljødal
	email = 544451+ljodal@users.noreply.github.com
[alias]
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\"
#    [credential]
#        helper = osxkeychain
#    [credential "https://github.com"]
#        username = ljodal
[init]
	defaultBranch = main
